<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>AngularJS Aplication</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="vendor/angularjs/angular.js"></script> 

	<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/MeuController.js"></script>
</head>
<body ng-controller="MeuController">
	<div class="container">
	<div class="container">
		<h1>AngularJS!</h1>
			<form ng-submit="enviaDados(pessoa)"">
				<div class="form-group">
					<label for=""></label>
					<input required minlength="3" ng-model= 'pessoa.nome' type="text" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Telefone</label>
					<input required minlength="8" ng-model= 'pessoa.telefone' type="text" class="form-control">
				</div>
				<div class="form-group">
					<label for="">E-mail</label>
					<input required ng-model= 'pessoa.email' type="email" class="form-control">
				</div>
				<button  type="submit" class="btn btn-success pull-right">Enviar</button>
				<div class="clearfix"></div>
				<div ng-show="msgAlert" class="alert alert-danger">"Cadastro inválido"</div>
			</form>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>E-mail</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='item in dados'>
					<td>{{item.nome}}</td>
					<td>{{item.telefone}}</td>
					<td>{{item.email}}</td>
				</tr>
				
			</tbody>
		</table>
	</div>

</body>
</html>