<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>AngularJS Aplication</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="vendor/angularjs/angular.js"></script> 

	<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/MeuController.js"></script>
</head>
<body ng-controller="MeuController">
	<div class="container">
		<h1>{{isEdit ? 'Editar' : 'Cadastrar'}}</h1>
			<div class="col-xs-3">
			<form  ng-submit="enviaDados(pessoa)" >
				<div class="form-group">
					<label for=""></label>
					<input required minlength="3" ng-model= 'pessoa.nome' type="text" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Telefone</label>
					<input required minlength="8" ng-model= 'pessoa.telefone' type="text" class="form-control">
				</div>
				<div class="form-group">
					<label for="">E-mail</label>
					<input required ng-model= 'pessoa.email' type="email" class="form-control">
				</div>
					<button type="submit" class="btn btn-primary pull-right">{{isEdit ? 'Salvar' : 'Adicionar'}}</button>
					<button ng-click="cancelaDados($index)" class="btn btn-primary pull-right">Cancelar</button>
				<div class="clearfix"></div>
					
				<div class="clearfix"></div>
				<div ng-show="msgAlert" class="alert alert-danger">"Cadastro inválido"</div>
				<h3>{{isEdit ? 'Aviso: os dados são salvos autormaticamente' : ''}}</h3>
			</form>
			</div>
			<br>
			<div class="col-xs-9">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Telefone</th>
						<th>E-mail</th>
						<th>Opções</th>

					</tr>
				</thead>
			</table>
		<table class="table">
			<br>
			<tbody>
				<tr ng-repeat='item in dados'>
					<td>{{$index}}</td>
					<td>{{item.nome}}</td>
					<td>{{item.telefone}}</td>
					<td>{{item.email}}</td>
					<td>
						<button ng-click="excluirDados($index)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
						<button ng-click="editarDados(item, $index)" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
					</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	</div>

</body>
</html>